pandas
numpy
scikit-learn
tabulate
python-dotenv
requests
tqdm
pyyaml
openai
httpx
streamlit
matplotlib
plotly
graphviz
weasyprint
scipy
jinja2
stable-baselines3
gymnasium
torch==2.0.0

imbalanced-learn==0.12.2
scikit-learn==1.2.2
ta
autopep8
black
flake8
pytest
jupyterlab
breeze_connect
python-dotenv
schedule
textblob
statsmodels
tensorflow